.ui-button {
    margin-left: 0.50rem;
    margin-right: 0.50rem;
    margin-right: 0.50rem;

}

.cart-no
{
    position:absolute;
    min-height: 22px;
    min-width: 22px;
    border-radius: 50%;
    font-size: 1em;
    background: blue;
    color: white;
    text-align: center;
    top: 5px;
    right: 205px ;
}